.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border: 1px solid rgb(165, 165, 165);
  padding: 8px 16px;
  border-radius: 4px;
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-title {
  font-weight: 600;
  color: #4d4d4d;
}

.card-description {
  color: #9a9a9a;
}

.btn-cta {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  display: flex;
  width: 20px;
  cursor: pointer;
}
